.card-text p {
    display: inline;
}

.modal-backdrop.show {
    opacity: 0;
    display: none;
}

#modal-content {
    /* background-color: #fefefe; */
    margin: -20%;
    border: 1px solid #888;
    width: 100%;
}

#exampleModalid {
    height: 30%;
    margin-top: 20%;
}