/* * {
    background-color: black;
} */

body {
    background-color: rgba(53, 53, 53, 0.884);
}

section {
    animation: slider 1s forwards;
}

@keyframes slider {
    0% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(3%);
    }
}

li:hover{
    background-color:#f3f3fc;
    border-radius: 18px
}

.welcome{
    font-family: 'Caveat', cursive;
    font-size: 110px;
    font-weight: 200;
    padding-top: "10%"; 
    padding-left: "40%";
    color: rgb(233, 233, 233);
    padding-top: 5%;
}

.quote{
    font-family: 'Caveat', cursive;
    font-size: 40px;
    /*padding-top: "10%"; */
    padding-left: "40%";
    color: rgb(233, 233, 233);
}